<html>
<body>
  {% if var1 %}
  The first var is {{var1}}
  <br>
  {% endif %}
  {% if var2 %}
  The second var is {{var2}}
  {% endif %}
  {% if warning %}
  <b>{{warning}}</b>
  {% endif %}
  </body>
  </html>

<!-- 
  <form method="post" action="{% url "hi" %}">
  {% csrf_token %}
  <div>
          <span>
                  <select name="var1" id="var1">
                          <option value="Name" id="name">Name</option>
                          <option value="Year" id="year">Year</option>
                          <option value="Rating" id="rating">Rating</option>
                          <option value="Critic" id="critic">Critic's Rating</option>
                          <option value="Duration" id="duration">Movie Duration</option>
                          <option value="Gross" id="gross">Gross</option>

                        </select>
          </span>
  </div>

      <div style="margin-left: 150px">
              <span>
                      <select name="var2" id="var2">
                              <option value="Name" id="name1">Name</option>
                              <option value="Year" id="year1">Year</option>
                              <option value="Rating" id="rating1">Rating</option>
                              <option value="Critic" id="critic1">Critic's Rating</option>
                              <option value="Duration" id="duration1">Movie Duration</option>
                              <option value="Gross" id="gross1">Gross</option>

                            </select>
              </span>


      </div>
      <div style="width: 50px; height: 25px; margin-left: 725px; padding: 20px"> -->
          <!-- <button type="button" onclick="myFunction()">Submit</button> -->
          <!-- <button type="submit">Submit</button>
      </div>
  </section>
  </form> -->
